<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PCFCon" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.191.6;Initial Catalog=V6DATA_PCF;User ID=sesamisvc;Pwd=S3s4m1@516;"/>
  </connectionStrings>
  <appSettings>
    <add key="Query1" value="SELECT DocumentNumber as InvoiceNo,IssueDate as InvoiceDate,InvoiceType as InvTypeCode,InstanceIdentifier as KeyField,CreditNoteInvoiceRefNo as RelatedInvoiceNo,InvCurrency as CurrencyCode,InvoiceHeaderText as Description,AcctCustPartyEndPointId as CustomerCode,ReceiverRegName as CustomerName,SenderRegName as PCFEntityName,(Case when APIStatus='Failed' THEN APIMessage ELSE ErrorMessage END) as FailedMessage FROM [V6DATA_PCF].[dbo].[InterfacePCFPeppolXMLsAR] WHERE cast(CreatedDate as date)&lt;=cast(DATEADD(DAY,-1,GETDATE()) as Date)"/>

    <add key="ExcelFilePath" value="F:\Batchjobs\Sp.PCFPeppolAR.ExcelReport\Input"/>
    <add key="LogsFilePath" value="F:\Nlogs\Sp.PCFPeppolAR.ExcelReport"/>

    <add key="ServerHost" value="192.168.193.29"/>
    <add key="MailCc" value="zameer@sesami.com,lakshman@sesami.com"/>
    <add key="MailTo" value="surendar@sesami.com"/>
    <add key="MailFrom" value="zameer@sesami.com"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
